<?xml version="1.0" encoding="utf-8"?>
<!--
Sample license text.
-->
<packages>
  <package id="MouseKeyboardActivityMonitor" version="4.0.5150.10665" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="11.0.1-beta3" targetFramework="net471" />
  <package id="TaskScheduler" version="2.7.2" targetFramework="net471" />
</packages>