<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Swordfish.NET.CollectionsV3" version="3.0.0.1" targetFramework="net47" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
</packages>