<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0308" targetFramework="net472" />
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.0.0-alpha0391" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net472" />
</packages>